*.user
*.unityproj
build-*
uWebKitNative/temp/*
uWebKit/Assets/Plugins/*
uWebKit/Assets/StreamingAssets/uWebKit/Mac/x86*
uWebKit/Assets/StreamingAssets/uWebKit/Mac/x86_64*
uWebKit/Assets/StreamingAssets/uWebKit/Windows/x86*
uWebKit/Assets/StreamingAssets/uWebKit/Windows/x86_64*
